<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{fragments/layout-admin}">

<head>
<meta charset="UTF-8">
<title>Title</title>
<link href="../../static/css/plugins.css" type="text/css" media="screen"
	rel="stylesheet" />
<link href="../../static/css/main.css" type="text/css" media="screen"
	rel="stylesheet" />
<link href="../../static/image/favicon.ico" rel="shortcut icon"
	type="image/x-icon">
</head>

<body>
	<div class="site-wrapper" id="top">
		<div layout:fragment="content">
			<div class="cart_area inner-page-sec-padding-bottom">
				<div class="container">
					<div class="row">
						<div class="col-12">
							<form action="./">
								<!-- Cart Table -->
								<div class="cart-table table-responsive">
									<table class="table">
										<thead>
											<tr>
												<th><a th:href="@{/admin/add_book}"
													class="btn btn-danger">ADD NEW BOOK</a></th>
											</tr>

											<tr>
												<th class="">Edit</th>
												<th class="">Delete</th>
												<th class="">ID</th>
												<th class="">Title</th>
												<th class="">Short Description</th>
												<th class="">Description Detail</th>
												<!-- 												<th class="">Images</th> -->
												<th class="">Thumbnail</th>
												<th class="">Publisher</th>
												<th class="">Available</th>
												<th class="">cover Type</th>
												<th class="">Weight</th>
												<th class="">Pages</th>
												<th class="">Price</th>
												<th class="">discount</th>

											</tr>
										</thead>
										<tbody>
											<tr th:each="book : ${books}">
												<td class="pro-quantity"><a
													th:href="@{/admin/edit_book?id={id}(id=${book.id})}"
													class="btn btn-primary"><i class="far fa-address-card"></i></a></td>
												<td><a
													th:href="@{/admin/delete_book?id={id}(id=${book.id})}"
													class="btn btn-danger">Delete</a></td>
												<td th:text="${book.id}"></td>
												<td th:text="${book.title}"></td>
												<td th:text="${book.shortDescription}"></td>
												<td th:text="${book.shortlong}"></td>
												<!-- 												<td th:text="${book.image}"></td> -->
												<td th:text="${book.thumbnail}"></td>
												<td th:text="${book.publisher}"></td>
												<td th:text="${book.available}"></td>
												<td th:text="${book.converType}"></td>
												<td th:text="${book.weight}"></td>
												<td th:text="${book.pages}"></td>
												<td th:text="${book.price}"></td>
												<td th:text="${book.discount}"></td>


											</tr>
										</tbody>
									</table>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script src="../../static/js/plugins.js"></script>
	<script src="../../static/js/ajax-mail.js"></script>
	<script src="../../static/js/custom.js"></script>
</body>

</html>
