<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>Footer</title>
<link href="../../static/css/plugins.css" type="text/css" media="screen"
	rel="stylesheet" />
<link href="../../static/css/main.css" type="text/css" media="screen"
	rel="stylesheet" />
<link href="../../static/image/favicon.ico" rel="shortcut icon"
	type="image/x-icon">
</head>

<body>
	<footer class="site-footer">
		<div th:fragment="footer-top" class="container">
			<div class="row justify-content-between  section-padding">
				<div class=" col-xl-3 col-lg-4 col-sm-6">
					<div class="single-footer pb--40">
						<div class="brand-footer footer-title">
							<img th:src="@{image/logo--footer.png}"
								src="../../static/image/logo--footer.png" alt="">
						</div>
						<div class="footer-contact">
							<p>
								<span class="label">Address:</span><span class="text">Đại
									học Nông Lâm, Linh Trung, Thủ Đức, Thành phố Hồ Chí Minh</span>
							</p>
							<p>
								<span class="label">Phone:</span><span class="text">0941956005</span>
							</p>
							<p>
								<span class="label">Email:</span><span class="text">suport@hastech.com</span>
							</p>
						</div>
					</div>
				</div>
				<div class=" col-xl-3 col-lg-2 col-sm-6">
					<div class="single-footer pb--40">
						<div class="footer-title">
							<h3>Information</h3>
						</div>
						<ul class="footer-list normal-list">
							<li><a href="">Giá giảm</a></li>
							<li><a href="">Sản phẩm mới</a></li>
							<li><a href="">Hàng bán tốt nhất</a></li>
							<li><a href="">Liên hệ vs chúng tôi</a></li>
							<li><a href="">Sơ đồ trang</a></li>
						</ul>
					</div>
				</div>
				<div class=" col-xl-3 col-lg-2 col-sm-6">
					<div class="single-footer pb--40">
						<div class="footer-title">
							<h3>Extras</h3>
						</div>
						<ul class="footer-list normal-list">
							<li><a href="">Giao hàng</a></li>
							<li><a href="">Thông tin</a></li>
							<li><a href="">Cửa hàng</a></li>
							<li><a href="">Liên hệ vs chúng tôi</a></li>
							<li><a href="">Địa chỉ</a></li>
						</ul>
					</div>
				</div>
				<div class=" col-xl-3 col-lg-4 col-sm-6">
					<div class="footer-title">
						<h3>Newsletter Subscribe</h3>
					</div>
					<div class="newsletter-form mb--30">
						<form action="./php/mail.php">
							<input type="email" class="form-control"
								placeholder="Enter Your Email Address Here...">
							<button class="btn btn--primary w-100">Subscribe</button>
						</form>
					</div>
					<div class="social-block">
						<h3 class="title">KẾT NỐI</h3>
						<ul class="social-list list-inline">
							<li class="single-social facebook"><a href=""><i
									class="ion ion-social-facebook"></i></a></li>
							<li class="single-social twitter"><a href=""><i
									class="ion ion-social-twitter"></i></a></li>
							<li class="single-social google"><a href=""><i
									class="ion ion-social-googleplus-outline"></i></a></li>
							<li class="single-social youtube"><a href=""><i
									class="ion ion-social-youtube"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div th:fragment="footer-bottom" class="footer-bottom">
			<div class="container">
				<p class="copyright-heading">Suspendisse in auctor augue. Cras
					fermentum est ac fermentum tempor. Etiam vel magna volutpat,
					posuere eros</p>
				<a href="#" class="payment-block"> <img
					th:src="@{image/icon/payment.png}"
					src="../../static/image/icon/payment.png" alt="">
				</a>
				<p class="copyright-text">
					Copyright © 2019 <a href="#" class="author">Pustok</a>. All Right
					Reserved. <br> Design By Pustok
				</p>
			</div>
		</div>
	</footer>
	<script src="../../static/js/plugins.js"></script>
	<script src="../../static/js/ajax-mail.js"></script>
	<script src="../../static/js/custom.js"></script>
</body>
</html>