<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{fragments/layout-main}">

<head>
<meta charset="UTF-8">
<title>Login</title>
<link href="../static/css/plugins.css" type="text/css" media="screen"
	rel="stylesheet" />
<link href="../static/css/main.css" type="text/css" media="screen"
	rel="stylesheet" />
<link href="../static/image/favicon.ico" rel="shortcut icon"
	type="image/x-icon">
</head>

<body>
	<div class="site-wrapper" id="top">
		<div layout:fragment="content">
			<main class="page-section inner-page-sec-padding-bottom">
				<div class="container">
					<div class="row">
						<div
							class="col-sm-12 col-md-12 col-xs-12 col-lg-6 mb--30 mb-lg--0">
							<!-- Login Form s-->
							<form th:action="@{/register}" method="POST"
								th:object="${registerUser}">
								<div class="login-form">
									<h4 class="login-title">New Customer</h4>
									<p>
										<span class="font-weight-bold">I am a new customer</span>
									</p>
									<div class="row">
										<div class="col-md-12 col-12 mb--15">
											<label for="email">Full Name</label> <input
												th:field="*{fullName}" class="mb-0 form-control" type="text"
												id="name" placeholder="Enter your full name"> <span
												style="color: red" th:if="${#fields.hasErrors('fullName')}"
												th:errors="*{fullName}"></span>
										</div>
										<div class="col-12 mb--20">
											<label for="email">Email</label> <input th:field="*{email}"
												class="mb-0 form-control" type="email" id="email"
												placeholder="Enter Your Email Address Here.."> <span
												style="color: red" th:if="${#fields.hasErrors('email')}"
												th:errors="*{email}"></span>
										</div>
										<div class="col-12 mb--20">
											<label for="email">Phone Number</label> <input
												th:field="*{phoneNumber}" class="mb-0 form-control"
												type="text" id="phoneNumber"
												placeholder="Enter Your PhoneNumber Here.."> <span
												style="color: red"
												th:if="${#fields.hasErrors('phoneNumber')}"
												th:errors="*{phoneNumber}"></span>
										</div>
										<div class="col-lg-6 mb--20">
											<label for="password">Password</label> <input
												th:field="*{password}" class="mb-0 form-control"
												type="password" id="password"
												placeholder="Enter your password"> <span
												style="color: red" th:if="${#fields.hasErrors('password')}"
												th:errors="*{password}"></span>
										</div>
										<div class="col-lg-6 mb--20">
											<label for="password">Repeat Password</label> <input
												th:field="*{repeatPassword}" class="mb-0 form-control"
												type="password" id="repeat-password"
												placeholder="Repeat your password"> <span
												style="color: red"
												th:if="${#fields.hasErrors('repeatPassword')}"
												th:errors="*{repeatPassword}"></span>
										</div>
										<div class="col-md-12">
											<button type="submit" class="btn btn-outlined">Register</button>
										</div>
									</div>
								</div>
							</form>
						</div>
						<div class="col-sm-12 col-md-12 col-lg-6 col-xs-12">
							<form name="f" th:action="@{/loginForm}" th:object="${loginForm}" method="post">
								<div class="login-form">
									<h4 class="login-title">Returning Customer</h4>
									<p>
										<span class="font-weight-bold">I am a returning
											customer</span>
									</p>
									<div class="row">

										<p th:if="${param.logout}" class="success">You have been
											logged out</p>
										<div class="col-md-12 col-12 mb--15">
											<label for="email">Enter your email address here...</label> <input name="email"
												type="email" class="mb-0 form-control" id="email"
												placeholder="Enter you email address here..." />
												<span
												style="color: red" th:if="${#fields.hasErrors('email')}"
												th:errors="*{email}"></span>
										</div>
										<div class="col-12 mb--20">
											<label for="password">Password</label> <input name="password"
												class="mb-0 form-control" type="password"
												id="password" placeholder="Enter your password">
												<span
												style="color: red" th:if="${#fields.hasErrors('password')}"
												th:errors="*{password}"></span>
										</div>
										<div class="col-md-12">
											<p style="color: red" th:if="${param.error}" class="error">Invalid
												email or password!</p>
										</div>
										<div class="col-md-12">
											<button type="submit" class="btn btn-outlined">Login</button>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</main>
		</div>
	</div>

	<script src="../static/js/plugins.js"></script>
	<script src="../static/js/ajax-mail.js"></script>
	<script src="../static/js/custom.js"></script>
</body>

</html>