<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{fragments/layout-main}">

<head>
<meta charset="UTF-8">
<title>Login - Register</title>
<link href="../static/css/plugins.css" type="text/css" media="screen"
	rel="stylesheet" />
<link href="../static/css/main.css" type="text/css" media="screen"
	rel="stylesheet" />
<link href="../static/image/favicon.ico" rel="shortcut icon"
	type="image/x-icon">
</head>

<body>
	<div class="site-wrapper" id="top">
		<div layout:fragment="content">
			<main class="page-section inner-page-sec-padding-bottom">
				<div class="container">
					<div class="row">
						<div
							class="col-sm-12 col-md-12 col-xs-12 col-lg-6 mb--30 mb-lg--0">
							<!-- Login Form s-->
							<form th:action="@{/register}" method="post">
								<div class="login-form" th:object="${registerForm}">
									<h4 class="login-title">New Customer</h4>
									<p>
										<span class="font-weight-bold">I am a new customer</span>
									</p>
									<div class="row">
										<div class="col-md-12 col-12 mb--15">
											<label for="registerName">Full Name <small>(optional)</small></label>
											<input class="mb-0 form-control" type="text"
												th:field="*{registerName}"
												placeholder="Enter your full name"><span
												style="color: red"
												th:if="${#fields.hasErrors('registerName')}"
												th:errors="*{registerName}"></span>
										</div>
										<div class="col-12 mb--20">
											<label for="registerEmail">Email</label> <input
												class="mb-0 form-control" type="email"
												th:field="*{registerEmail}"
												placeholder="Enter your email address here.."
												required="required" onblur="checkEmail()"><span
												style="color: red"
												th:if="${#fields.hasErrors('registerEmail')}"
												th:errors="*{registerEmail}"></span><small
												id="registerEmailFeedback" class="form-text"></small>
										</div>
										<script type="text/javascript">function checkEmail() {
											var email = $("#registerEmail").val()
										    if (email && /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/.test(email))
										        $.ajax({
										            type: 'GET',
										            url: '/check-email?email='+email,
										            success: feedback => {
										                if (feedback) {
										                    $('#registerEmailFeedback').css("color", "#dc3545");
										                    $('#registerEmailFeedback').text("Email has been registered");
										                } else {
										                    $('#registerEmailFeedback').css("color", "#28a745");
										                    $('#registerEmailFeedback').text("You can use this email");
										                }
										            }
										        })
										    else $('#registerEmailFeedback').text("");
										}</script>
										<div class="col-lg-6 mb--20">
											<label for="registerPassword">Password</label> <input
												class="mb-0 form-control" type="password"
												th:field="*{registerPassword}"
												placeholder="Enter your password" required="required"><span
												style="color: red"
												th:if="${#fields.hasErrors('registerPassword')}"
												th:errors="*{registerPassword}"></span>
										</div>
										<div class="col-lg-6 mb--20">
											<label for="registerRepeatPassword">Repeat password</label> <input
												class="mb-0 form-control" type="password"
												th:field="*{registerRepeatPassword}"
												placeholder="Repeat your password" required="required"
												oninput="comparePasswords()"><span
												style="color: red"
												th:if="${#fields.hasErrors('registerRepeatPassword')}"
												th:errors="*{registerRepeatPassword}"></span> <small
												id="registerRepeatPasswordFeedback" class="form-text"></small>
										</div>
										<script type="text/javascript">function comparePasswords() {
											var pass = $("#registerPassword").val()
											var repass = $("#registerRepeatPassword").val()
										    if (!repass)
										    	$('#registerRepeatPasswordFeedback').text("")
											else if(pass != repass){
												$('#registerRepeatPasswordFeedback').css("color", "#dc3545");
												$('#registerRepeatPasswordFeedback').text("Not match with password");
										    } else {
										    	$('#registerRepeatPasswordFeedback').css("color", "#28a745");
										    	$('#registerRepeatPasswordFeedback').text("OK");
										    }
										}</script>
										<div class="col-md-12">
											<button type="submit" class="btn btn-outlined">Register</button>
										</div>
									</div>
								</div>
							</form>
						</div>
						<div class="col-sm-12 col-md-12 col-lg-6 col-xs-12">
							<form th:action="@{/login}" method="post">
								<div class="login-form" th:object="${loginForm}">
									<h4 class="login-title">Returning Customer</h4>
									<p>
										<span class="font-weight-bold">I am a returning
											customer</span>
									</p>
									<div class="row">
										<div class="col-md-12 col-12 mb--15">
											<label for="loginEmail">Email address</label> <input
												class="mb-0 form-control" type="email"
												placeholder="Enter you email address here..."
												th:field="*{loginEmail}" required="required"><span
												style="color: red"
												th:if="${#fields.hasErrors('loginEmail')}"
												th:errors="*{loginEmail}"></span>
										</div>
										<div class="col-12 mb--20">
											<label for="loginPassword">Password</label> <input
												class="mb-0 form-control" type="password"
												placeholder="Enter your password"
												th:field="*{loginPassword}" required="required"><span
												style="color: red"
												th:if="${#fields.hasErrors('loginPassword')}"
												th:errors="*{loginPassword}"></span>
										</div>
										<div class="col-md-12">
											<button type="submit" class="btn btn-outlined">Login</button>
										</div>
									</div>
								</div>
								<h5 th:if="${param.error}">
									<b style="color: red">Invalid username and password.</b>
								</h5>
							</form>
						</div>
					</div>
				</div>
			</main>
		</div>
	</div>
	</div>

	<script src="../static/js/plugins.js"></script>
	<script src="../static/js/ajax-mail.js"></script>
	<script src="../static/js/custom.js"></script>
</body>

</html>